@inject NavigationManager navegador;

@if (!NuevoCliente)
{
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <div class="btn-group">
                <Button Class="btn btn-sm btn-primary" @onclick="OnSeleccionarParametros">Agregar nuevo control</Button>
            </div>
        </div>
    </div>
}


<div class="row mt-2">
    @foreach (var item in ControlFisicoClienteResponse)
    {
        <div class="col-md-3">
            <label>@item.NombreControl</label>
            <input class="form-control" @bind="item.ValorControl" />
        </div>
    }
</div>

<div class="row gx-4 mt-4 mb-4">
    <div class="col">
        <button type="submit" class="btn btn-primary" @onclick="OnGuardar">Guardar</button>
        <button type="button" class="btn btn-danger" @onclick="OnCancelar">Cancelar</button>
    </div>
</div>

<Modal @ref="ModalParametrosControl" Title="Parametros de control" Size="ModalSize.Large">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-12">
                <Grilla TItem="DetalleMaestroResponse" ProveedorData="ProveedorData" Titulo="" @ref="GrillaMaestroDetalle" HeaderAlign="Alignment.Center" TextAlign="Alignment.Center">
                    <ColumnasAdicionales>
                        <GridColumn TItem="DetalleMaestroResponse" HeaderText="Acción" Filterable="false" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                            @if (!context.EsExistente)
                            {
                                <button class="btn btn-xs btn-success" title="Agregar" @onclick="() => AgregarParametro(context)"><i class="bi bi-plus"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-xs btn-danger" title="Quitar"><i class="bi bi-dash-circle"></i></button>
                            }
                        </GridColumn>
                    </ColumnasAdicionales>
                </Grilla>
            </div>
        </div>
    </BodyTemplate>
</Modal>

@code {

    [Parameter]
    public bool NuevoCliente { get; set; }

    [Parameter]
    public List<ListaControlFisicoClienteResponse> ControlFisicoClienteResponse { get; set; } = default!;

    [Parameter]
    public GridDataProviderDelegate<DetalleMaestroResponse> ProveedorData { get; set; } = default!;

    [Parameter]
    public EventCallback<DetalleMaestroResponse> OnAgregarParametro { get; set; } = default!;

    [Parameter]
    public EventCallback<List<ListaControlFisicoClienteResponse>> OnGuardarControlFisico { get; set; } = default!;

    public Grilla<DetalleMaestroResponse> GrillaMaestroDetalle { get; set; } = default!;

    public Modal ModalParametrosControl { get; set; } = default!;

    private async Task OnSeleccionarParametros()
    {
        await ModalParametrosControl.ShowAsync();
    }

    private void OnCancelar()
    {
        navegador.NavigateTo("/Clientes");
    }

    private async Task AgregarParametro(DetalleMaestroResponse parametro)
    {
        await OnAgregarParametro.InvokeAsync(parametro);
    }

    private async Task OnGuardar()
    {
        await OnGuardarControlFisico.InvokeAsync(ControlFisicoClienteResponse);
    }
}
