<nav class="navbar">
    <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="images/logo.png" alt=""><i></i>Mega Star Gym
    </div>

    <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell'></i>
        <img src="images/logo.png" alt="" class="profile" />
    </div>
</nav>

<nav class="sidebar">
    <div class="menu_content">
        <ul class="menu_items">
            <div class="menu_title menu_dahsboard"></div>

            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-dashboard'></i>
                    </span>
                    <span class="navlink">Dashboard</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-flag-alt'></i>
                    </span>
                    <span class="navlink">Asistencias</span>
                </a>
            </li>

            <li class="item">
                <a href="@Routes.Suscripciones" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-book-bookmark'></i>
                    </span>
                    <span class="navlink">Suscripciones</span>
                </a>
            </li>

           @*  <li class="item">
                <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                        <i class="bx bx-home-alt"></i>
                    </span>
                    <span class="navlink">Controles</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>

                <ul class="menu_items submenu">
                    
                    
                   
                    <a href="#" class="nav_link sublink">Nav Sub Link</a>
                </ul>
            </li> *@
           
            <li class="item">
                <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                        <i class="bx bx-grid-alt"></i>
                    </span>
                    <span class="navlink">Atenciones</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>

                <ul class="menu_items submenu">
                    <a href="#" class="nav_link sublink">Ventas</a>
                    <a href="#" class="nav_link sublink">Almacen</a>
                    <a href="#" class="nav_link sublink">Caja</a>
                </ul>
            </li>
        </ul>

        <ul class="menu_items">
            <div class="menu_title menu_mantenimientos"></div>

            <li class="item">
                <a href="@Routes.ClienteListado" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-universal-access'></i>
                    </span>
                    <span class="navlink">Clientes</span>
                </a>
            </li>

            <li class="item">
                <a href="@Routes.EjerciciosListado" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-hot'></i>
                    </span>
                    <span class="navlink">Ejercicios</span>
                </a>
            </li>

            <li class="item">
                <a href="/clientes" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-rocket'></i>
                    </span>
                    <span class="navlink">Maquinas</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-injection'></i>
                    </span>
                    <span class="navlink">Productos</span>
                </a>
            </li>
           
        </ul>

        <ul class="menu_items">
            <div class="menu_title menu_reportes"></div>

            <li class="item">
                <a href="/clientes" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-file'></i>
                    </span>
                    <span class="navlink">Clientes</span>
                </a>
            </li>

            <li class="item">
                <a href="/clientes" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-file'></i>
                    </span>
                    <span class="navlink">Caja</span>
                </a>
            </li>

            <li class="item">
                <a href="/clientes" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-file'></i>
                    </span>
                    <span class="navlink">Almacen</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-file'></i>
                    </span>
                    <span class="navlink">Suscripciones</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-file'></i>
                    </span>
                    <span class="navlink">Asistencias</span>
                </a>
            </li>
        </ul>
      
        <ul class="menu_items">
            <div class="menu_title menu_setting"></div>
            <li class="item">
                <a href="/catalogos" class="nav_link">
                    <span class="navlink_icon">
                        <i class="bx bx-cog"></i>
                    </span>
                    <span class="navlink">Catalogos</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bxs-user'></i>
                    </span>
                    <span class="navlink">Colaboradores</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-extension'></i>
                    </span>
                    <span class="navlink">Permisos</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-building-house'></i>
                    </span>
                    <span class="navlink">Empresa</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-store-alt'></i>
                    </span>
                    <span class="navlink">Establecimientos</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon">
                        <i class='bx bx-user-pin'></i>
                    </span>
                    <span class="navlink">Mi Perfil</span>
                </a>
            </li>
        </ul>

        <div class="bottom_content">
            <div class="bottom expand_sidebar">
                <span> Abrir</span>
                <i class='bx bx-log-in'></i>
            </div>
            <div class="bottom collapse_sidebar">
                <span> Cerrar</span>
                <i class='bx bx-log-out'></i>
            </div>
        </div>
    </div>
</nav>

