@page "/catalogos"
@using GestionGym.Ui.Pages.Mantenimientos.Catalogos.Componentes
<h4>Listado de Catalogos</h4>

<GroupBox Titulo="Buscar Catalogo" Class="mt-5">
    <Contenido>
        <div class="row">
            <div class="col-md-4">
                <label>Codigo:</label>
                <input class="form-control" @bind="RequestBusqueda.Codigo" />
            </div>
            <div class="col-md-2">
                <label>Catalogo: </label>
                <input class="form-control" @bind="RequestBusqueda.Nombre" />
            </div>
            <div class="col-md-4 mt-4 mb-3">
                <div class="btn-group">
                    <Button Class="btn btn-light" @onclick="OnBuscar"><i class="bi bi-search"></i></Button>
                    <Button Class="btn btn-light" @onclick="OnRefrescar"><i class="bi bi-arrow-repeat"></i></Button>
                    <Button Class="btn btn-success" @onclick="OnNuevoMaestro"><i class="bi bi-plus"></i> Nuevo</Button>
                </div>
            </div>
        </div>
    </Contenido>
</GroupBox>
<div class="row mt-3 mt-5 mb-5">
    <Grilla TItem="ListaMaestrosResponse" ProveedorData="ProveedorMaestros" Titulo="" @ref="GrillaMaestros" HeaderAlign="Alignment.Center" TextAlign="Alignment.Center">
        <ColumnasAdicionales>
            <GridColumn TItem="ListaMaestrosResponse" HeaderText="Acciones" Filterable="false" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                <button class="btn btn-sm btn-primary" title="Configuraciones" @onclick="() => OnVerElementos(context)"><i class="bi bi-list"></i></button>
                <button class="btn btn-sm btn-primary" title="Editar" @onclick="() => OnEditarMaestro(context)"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-sm btn-danger" title="Desactivar"><i class="bi bi-trash"></i></button>
            </GridColumn>
        </ColumnasAdicionales>
    </Grilla>
</div>

<Loading isLoading="isLoading" />

<Modal @ref="ModalCatalogoForm" Title="Control de catalogos" Size="ModalSize.Small" UseStaticBackdrop="true">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-12">
                <MaestroForm OnGuardarMaestro="GuardarCatalogo" Request="RequestCatalogo" OnCancelar="OnCancelar" />
            </div>
        </div>
    </BodyTemplate>
</Modal>
