@attribute [Route(Routes.ClienteEditarNav)]
@inject IMaestroProxy ProxyMaestro;
@inject IClienteProxy ProxyCliente;
@inject NavigationManager navegator;
@inject IToastService ToastService;

<h4>Mantenimiento de Cliente</h4>

<GroupBox Titulo="Datos personales" Class="mt-5">
    <Contenido>
        <DatosPersonales Request="DatosPersonales" OnGuardarDatosPersonales="ActualizarDatosPersonales"></DatosPersonales>
    </Contenido>
</GroupBox>

<GroupBox Titulo="Control Fisico" Class="mt-5">
    <Contenido>
        <ControlFisico ProveedorData="GrillaParametros" ControlFisicoClienteResponse="ControlFisicoClienteResponse" OnAgregarParametro="AgregarControlFisico" OnGuardarControlFisico="OnGuardarControlFisico" @ref="tabControlFisico" />
    </Contenido>
</GroupBox>

<GroupBox Titulo="Historial Medico" Class="mt-5">
    <Contenido>
        <HistorialMedico ProveedorData="GrillaParametrosHistorialMedico" HistorialMedicoClienteResponse="HistorialMedicoClienteResponse" OnAgregarParametro="AgregarHistorialMedico" OnGuardarHistorialMedico="OnGuardarHistorialMedico" @ref="tabHistorialMedico" />
    </Contenido>
</GroupBox>

<Loading isLoading="isLoading" />

@code {
    [Parameter]
    public int idCliente { get; set; } = 0;

    public bool isLoading { get; set; } = false;

    #region Componentes
    public ControlFisico tabControlFisico { get; set; } = new();
    public HistorialMedico tabHistorialMedico { get; set; } = new();
    #endregion

    protected override async Task OnInitializedAsync()
    {
        if (idCliente != 0)
        {
            await ObtenerDatosById();
            await ListarParametrosControlFisico();
            await ListarParametrosHistorialMedico();
        }
    }


    #region Datos Personales
    public DatosPersonalesRequest DatosPersonales { get; set; } = new();

    private async Task ObtenerDatosById()
    {
        try
        {
            var resultado = await ProxyCliente.GetDatosPersonalesById(idCliente);
            if (resultado != null && resultado.Data != null)
            {
                var datos = resultado.Data;
                Utils.Map(datos, DatosPersonales);
            }

        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al Obtener los datos personales:{ex.Message}");
        }
    }


    private async Task ActualizarDatosPersonales()
    {
        isLoading = true;
        try
        {
            DatosPersonales.IdEstablecimiento = Constantes.IdEstablecimientoDefault;
            var resultado = await ProxyCliente.ActualizarDatosPersonales(DatosPersonales);

            if (resultado is { Success: false })
                ToastService.ShowWarning($"Error al actualizar datos personales:{resultado.Message}");
            else
            {
                await ObtenerDatosById();
                ToastService.ShowSuccess($"Datos personales actualizados");
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowWarning($"Error al actualizar datos personales:{ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    #endregion

    #region Control Fisico
    List<ListaControlFisicoClienteResponse> ControlFisicoClienteResponse { get; set; } = new();
    public ListaDetalleMaestroRequest RequestDetalleMaestro { get; set; } = new() { Pagina = 1, Filas = 10 };
    public ICollection<DetalleMaestroResponse> ListaMaestroDetalle { get; set; } = new List<DetalleMaestroResponse>();

    private async Task ListarParametrosControlFisico()
    {
        try
        {
            var resultado = await ProxyCliente.GetControlFisicoParametros(idCliente);
            if (resultado is { Success: false })
            {
                ToastService.ShowWarning($"Error al listar parametros de control fisico:{resultado.Message}");
            }
            else
            {
                if (resultado.Data != null)
                    ControlFisicoClienteResponse = resultado.Data;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al listar control fisico: {ex.Message}");
        }

    }



    private async Task<GridDataProviderResult<DetalleMaestroResponse>> GrillaParametros(GridDataProviderRequest<DetalleMaestroResponse> request)
    {
        isLoading = true;
        try
        {
            RequestDetalleMaestro.codigoMaestro = CodigoMaestro.CTRL_FISICO;
            var response = await ProxyMaestro.ListaPaginadaDetalleMaestroByCodigo(RequestDetalleMaestro);
            if (response is { Success: true })
            {
                if (response.Collection != null)
                {
                    ListaMaestroDetalle = response.Collection;

                    ListaMaestroDetalle
                        .Where(p => ControlFisicoClienteResponse.Select(e => e.IdParametro).Contains(p.IdDetalleMaestro))
                        .ToList()
                        .ForEach(p => p.EsExistente = true);

                    request.ApplyTo(ListaMaestroDetalle);

                    return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>()
                        {
                            Data = response.Collection,
                            TotalCount = response.TotalRegistros
                        });
                }
                else return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>());

            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al listar los parametros: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
        return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>());
    }

    private async Task AgregarControlFisico(DetalleMaestroResponse parametro)
    {
        isLoading = true;
        try
        {
            var parametroNuevo = new ParametroClienteRequest() { Idcliente = idCliente, Idparametro = parametro.IdDetalleMaestro };

            var resultado = await ProxyCliente.GuardarParametroControlFisico(parametroNuevo);
            if (resultado is { Success: false })
            {
                ToastService.ShowWarning($"Error al guardar parametro de control fisico:{resultado.Message}");
            }
            else
            {
                ToastService.ShowSuccess($"Nuevo control fisico agregado.");
                await tabControlFisico.ModalParametrosControl.HideAsync();
                await ListarParametrosControlFisico();
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al guardar parametro de control fisico: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OnGuardarControlFisico(List<ListaControlFisicoClienteResponse> request)
    {
        isLoading = true;
        try
        {
            var controlFisico = new List<ControlFisicoClienteRequest>();
            if (request is not null)
            {
                foreach (var item in request)
                {
                    controlFisico.Add(new()
                        {
                            Id = item.IdControlFisico,
                            Valor = item.ValorControl
                        });
                }

                var resultado = await ProxyCliente.ActualizarControlFisico(controlFisico);

                if (resultado is { Success: false })
                {
                    ToastService.ShowWarning($"Error al actualizar control fisico:{resultado.Message}");
                }
                else
                {
                    ToastService.ShowSuccess($"Control fisico actualizado.");
                    await tabControlFisico.ModalParametrosControl.HideAsync();
                    await ListarParametrosControlFisico();
                }
            }


        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al actualizar control fisico: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    #endregion

    #region Historial Medico
    List<ListaHistorialMedicoClienteResponse> HistorialMedicoClienteResponse { get; set; } = new();
    public ListaDetalleMaestroRequest RequestDetalleMaestroHM { get; set; } = new() { Pagina = 1, Filas = 10 };
    public ICollection<DetalleMaestroResponse> ListaMaestroDetalleHM { get; set; } = new List<DetalleMaestroResponse>();

    private async Task ListarParametrosHistorialMedico()
    {
        try
        {
            var resultado = await ProxyCliente.GetHistorialMedicoParametros(idCliente);
            if (resultado is { Success: false })
            {
                ToastService.ShowWarning($"Error al listar parametros de historial medico:{resultado.Message}");
            }
            else
            {
                if (resultado.Data != null)
                    HistorialMedicoClienteResponse = resultado.Data;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al listar historial medico: {ex.Message}");
        }

    }



    private async Task<GridDataProviderResult<DetalleMaestroResponse>> GrillaParametrosHistorialMedico(GridDataProviderRequest<DetalleMaestroResponse> request)
    {
        isLoading = true;
        try
        {
            RequestDetalleMaestroHM.codigoMaestro = CodigoMaestro.HIST_MEDICO;
            var response = await ProxyMaestro.ListaPaginadaDetalleMaestroByCodigo(RequestDetalleMaestroHM);
            if (response is { Success: true })
            {
                if (response.Collection != null)
                {
                    ListaMaestroDetalleHM = response.Collection;

                    ListaMaestroDetalleHM
                        .Where(p => HistorialMedicoClienteResponse.Select(e => e.IdHistorial).Contains(p.IdDetalleMaestro))
                        .ToList()
                        .ForEach(p => p.EsExistente = true);

                    request.ApplyTo(ListaMaestroDetalleHM);

                    return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>()
                        {
                            Data = response.Collection,
                            TotalCount = response.TotalRegistros
                        });
                }
                else return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>());

            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al listar los parametros: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
        return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>());
    }

    private async Task AgregarHistorialMedico(DetalleMaestroResponse parametro)
    {
        isLoading = true;
        try
        {
            var parametroNuevo = new ParametroClienteRequest() { Idcliente = idCliente, Idparametro = parametro.IdDetalleMaestro };

            var resultado = await ProxyCliente.GuardarParametroHistorialMedico(parametroNuevo);
            if (resultado is { Success: false })
            {
                ToastService.ShowWarning($"Error al guardar parametro de historial medico:{resultado.Message}");
            }
            else
            {
                ToastService.ShowSuccess($"Nuevo historial medico agregado.");
                await tabHistorialMedico.ModalParametrosControl.HideAsync();
                await ListarParametrosHistorialMedico();
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al guardar parametro de control fisico: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OnGuardarHistorialMedico(List<ListaHistorialMedicoClienteResponse> request)
    {
        isLoading = true;
        try
        {
            var HistorialMedico = new List<HistorialMedicoClienteRequest>();
            if (request is not null)
            {
                foreach (var item in request)
                {
                    HistorialMedico.Add(new()
                        {
                            Id = item.Id,
                            Valor = item.Valor,
                            Comentario = item.Comentario,
                            Consideracion = item.Consideracion,
                            Recomendacion = item.Recomendacion
                        });
                }

                var resultado = await ProxyCliente.ActualizarHistorialMedico(HistorialMedico);

                if (resultado is { Success: false })
                {
                    ToastService.ShowWarning($"Error al actualizar historial medico:{resultado.Message}");
                }
                else
                {
                    ToastService.ShowSuccess($"Historial medico actualizado.");
                    await tabHistorialMedico.ModalParametrosControl.HideAsync();
                    await ListarParametrosHistorialMedico();
                }
            }


        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al actualizar Historial medico: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    #endregion
}
