@attribute [Route(Routes.Suscripciones)]
@using GestionGym.Dto.Response.Suscripciones

@inject ISuscripcionProxy Proxy;
@inject NavigationManager navigator;
@inject IToastService ToastService;

<h4>Listado de suscripciones</h4>

<GroupBox Titulo="Buscar cliente" Class="mt-5">
    <Contenido>
        <div class="row">
            <div class="col-md-4">
                <label>Nombre</label>
                <input class="form-control" @bind="RequestBusqueda.Nombre" />
            </div>
            <div class="col-md-2">
                <label>Dni</label>
                <input class="form-control" @bind="RequestBusqueda.Dni" />
            </div>
            <div class="col-md-4 mt-4 mb-3">
                <div class="btn-group">
                    <Button Class="btn btn-light" @onclick="OnBuscar"><i class="bi bi-search"></i></Button>
                    <Button Class="btn btn-light" @onclick="OnRefrescar"><i class="bi bi-arrow-repeat"></i></Button>
                    <Button Class="btn btn-success" @onclick="OnNueva"><i class="bi bi-plus"></i> Nueva</Button>
                </div>
            </div>
        </div>
    </Contenido>
</GroupBox>
<div class="row mt-3 mt-5 mb-5">
    <Grilla TItem="ListaSuscripcionResponse" ProveedorData="DataProvider" Titulo="" @ref="GrillaSuscripciones" HeaderAlign="Alignment.Center" TextAlign="Alignment.Center">
        <ColumnasAdicionales>
            <GridColumn TItem="ListaSuscripcionResponse" HeaderText="Acciones" Filterable="false" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                <button class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></button>
            </GridColumn>
        </ColumnasAdicionales>
    </Grilla>
</div>

<Loading isLoading="isLoading" />

@code {
    public ICollection<ListaSuscripcionResponse> ListaSuscripciones { get; set; } = new List<ListaSuscripcionResponse>();
    Grilla<ListaSuscripcionResponse> GrillaSuscripciones { get; set; } = default!;
    public BusquedaSuscripcionRequest RequestBusqueda { get; set; } = new() { Pagina = 1, Filas = 10 };

    public bool isLoading { get; set; } = false;

    private async Task<GridDataProviderResult<ListaSuscripcionResponse>> DataProvider(GridDataProviderRequest<ListaSuscripcionResponse> request)
    {
        isLoading = true;
        try
        {
            RequestBusqueda.Pagina = request.PageNumber;
            RequestBusqueda.Filas = request.PageSize;
            var response = await Proxy.GetSuscripciones(RequestBusqueda);
            if (response is { Success: true })
            {
                return await Task.FromResult(new GridDataProviderResult<ListaSuscripcionResponse>()
                    {
                        Data = response.Collection,
                        TotalCount = response.TotalRegistros
                    });
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowWarning($"Error al registrar datos personales:{ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
        return await Task.FromResult(new GridDataProviderResult<ListaSuscripcionResponse>());
    }

    private async Task OnBuscar()
    {
        await GrillaSuscripciones.ActualizarGrid();
    }

    private async Task OnRefrescar()
    {
        RequestBusqueda = new() { Pagina = 1, Filas = 10 };
        await GrillaSuscripciones.ActualizarGrid();
    }

    private void OnNueva()
    {
        navigator.NavigateTo(Routes.SuscripcionRegistrar);
    }


}
