@using GestionGym.Ui.Pages.Mantenimientos.Ejercicios.Componentes
@using GestionGym.Dto.Request.Ejercicios
@attribute [Route(Routes.EjerciciosRegistrar)]
@inject IMaestroProxy ProxyMaestro;
@inject IEjercicioProxy Proxy;
@inject IToastService ToastService;

<h4>Registrar Ejercicio</h4>

<DatosEjercicio ListaGrupoMuscular="ListaGrupoMuscular"
                ListaRutinas="ListaRutinas"
                ListaTipoRecurso="ListaTipoRecurso"
                ProveedorData="GrillaGrupoMuscular"
                OnGuardar="OnGuardar"
                Request="Request" />

<Loading isLoading="isLoading" />

@code {

    public EjercicioRequest Request { get; set; } = new();
    public List<RutinaEjercicioRequest> ListaRutinas { get; set; } = new();
    public List<DetalleMaestroResponse> ListaTipoRecurso { get; set; } = new();
    public List<DetalleMaestroResponse> ListaGrupoMuscular { get; set; } = new();
    public ListaDetalleMaestroRequest RequestGrupoMuscular { get; set; } = new() { Pagina = 1, Filas = 10 };
    public bool isLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ListarTipoRecurso();
    }

    private async Task ListarTipoRecurso()
    {
        try
        {

            var request = new List<string>()
            {
                CodigoMaestro.TIPORECURSO,
                CodigoMaestro.GM_GRUPOMUSCULAR
            };
            var resultado = await ProxyMaestro.ListarDetalleMaestroByListCodigos(request);
            if (resultado is not null && resultado.Data is not null)
            {
                var coleccion = resultado.Data;
                ListaTipoRecurso = coleccion.Where(p => p.CodigoPadre == CodigoMaestro.TIPORECURSO).ToList();
                ListaGrupoMuscular = coleccion.Where(p => p.CodigoPadre == CodigoMaestro.GM_GRUPOMUSCULAR).ToList();
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    private async Task OnGuardar()
    {
        isLoading = true;
        try
        {
            Request.Rutina = ListaRutinas;
            var resultado = await Proxy.Registrar(Request);

            if (resultado is { Success: false })
            {
                ToastService.ShowWarning($"Error al crear ejercicio:{resultado.Message}");
            }
            else
            {
                ToastService.ShowSuccess($"Ejercicio creado correctamente");
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowWarning($"Error al registrar ejercicio:{ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task<GridDataProviderResult<DetalleMaestroResponse>> GrillaGrupoMuscular(GridDataProviderRequest<DetalleMaestroResponse> request)
    {
        isLoading = true;
        try
        {
            RequestGrupoMuscular.codigoMaestro = CodigoMaestro.GM_GRUPOMUSCULAR;
            RequestGrupoMuscular.Pagina = request.PageNumber;
            RequestGrupoMuscular.Filas = request.PageSize;

            var response = await ProxyMaestro.ListaPaginadaDetalleMaestroByCodigo(RequestGrupoMuscular);
            if (response is { Success: true })
            {
                if (response.Collection != null)
                {
                    return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>()
                        {
                            Data = response.Collection,
                            TotalCount = response.TotalRegistros
                        });
                }
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error al listar los parametros: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
        return await Task.FromResult(new GridDataProviderResult<DetalleMaestroResponse>());
    }

}
